APP_NAME=BFACP
APP_KEY=SomeRandomString
APP_URL=http://localhost

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

# Add your IPv4 or IPv6 address here to show more detailed debug
# information and also view the system maintence page.
# You can add more than one ip address here if you need too.
# Just seprate each address with the pipe character (|).
#
# Example:
#
# 127.0.0.1|10.0.0.1|172.0.0.1
#
# By default it allows only the localhost
IP_WHITELIST=127.0.0.1

# Set your pusher API ID, Key, and Secret here.
# You will need an account at https://pusher.com
PUSHER_APP_ID=null
PUSHER_KEY=null
PUSHER_SECRET=null

# Default Cluster
# For European use eu
# For Asia Pacific use ap1
PUSHER_CLUSTER=mt1

MAIL_DRIVER=mailgun
MAILGUN_DOMAIN=
MAILGUN_SECRET=

BROADCAST_DRIVER=memcached
CACHE_DRIVER=memcached
QUEUE_CONNECTION=sync
SESSION_DRIVER=memcached
SESSION_LIFETIME=120

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
