<div class="nav-tabs-custom" ng-hide="results.metabans.failed">
    <ul class="nav nav-tabs pull-right">
        <li><a href="javascript://" data-target="#mb-feed" data-toggle="tab" ng-bind="results.metabans.locales.feed"></a></li>
        <li class="active"><a href="javascript://" data-target="#mb-assessments" data-toggle="tab" ng-bind="results.metabans.locales.assessments"></a></li>
        <li class="pull-left header" ng-bind="results.metabans.locales.title"></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="mb-feed">
            <table class="table table-striped table-condensed">
                <thead>
                    <th ng-bind="results.metabans.locales.columns.col1"></th>
                    <th ng-bind="results.metabans.locales.columns.col2"></th>
                    <th ng-bind="results.metabans.locales.columns.col3"></th>
                    <th ng-bind="results.metabans.locales.columns.col4"></th>
                </thead>

                <tbody>
                    <tr ng-repeat="(key, f) in results.metabans.feed.data">
                        <td><a ng-href="{{ f.assessment_url }}" tooltip="{{ f.text }}" ng-bind="f.player_name" target="_blank"></a></td>
                        <td ng-bind="f.game_name.replace('_', '')"></td>
                        <td ng-bind="assessmentType(f)"></td>
                        <td ng-bind="moment(f.stamp).fromNow()"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane active" id="mb-assessments">
            <table class="table table-striped table-condensed">
                <thead>
                    <th ng-bind="results.metabans.locales.columns.col1"></th>
                    <th ng-bind="results.metabans.locales.columns.col2"></th>
                    <th ng-bind="results.metabans.locales.columns.col3"></th>
                    <th ng-bind="results.metabans.locales.columns.col4"></th>
                </thead>

                <tbody>
                    <tr ng-repeat="(key, assessment) in results.metabans.assessments.data">
                        <td><a ng-href="{{ assessment.assessment_url }}" tooltip="{{ assessment.reason }}" ng-bind="assessment.player_name" target="_blank"></a></td>
                        <td ng-bind="assessment.game_name.replace('_', '')"></td>
                        <td ng-bind="assessmentType(assessment)"></td>
                        <td ng-bind="moment(assessment.assessment_expires).fromNow()"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<alert type="error" ng-show="results.metabans.failed">
    <i class="fa fa-times"></i>&nbsp;Error loading metabans feed.
</alert>
