<div class="modal-header">
    <h3 class="modal-title">
        <a ng-if="report.source_id !== null" ng-href="/players/{{ report.source_id }}/{{ report.source_name }}" ng-bind="report.source_name" target="_blank"></a>
        <span ng-if="report.source_id === null" ng-bind="report.source_name"></span>
        reported
        <a ng-if="report.target_id !== null" ng-href="/players/{{ report.target_id }}/{{ report.target_name }}" ng-bind="report.target_name" target="_blank"></a>
        <span ng-if="report.target_id === null" ng-bind="report.target_name"></span>
        <small class="pull-right"><span ng-class="report.server.game.class_css" ng-bind="report.server.game.Name"></span></small>
    </h3>
</div>

<div class="modal-body">
    <i class="fa fa-server"></i>&nbsp;<span ng-bind="report.server.ServerName"></span><br />
    <i class="fa fa-clock-o"></i>&nbsp;<span ng-bind="moment(report.stamp).format('LLL')"></span>&nbsp;(<span ng-bind="moment(report.stamp).fromNow()"></span>)<br /><br />

    <div class="form-group">
        <label for="reason">Reason</label>
        <div class="input-group">
            <input type="text" id="reason" class="form-control" ng-model="reportReason" ng-disabled="!edit" maxlength="500">
            <span class="input-group-addon">
                <input type="checkbox" ng-model="edit" tooltip="Check to edit reason">
            </span>
        </div>

        <div class="help-block">
            <div class="text-right">
                <span ng-class="{'text-green': reportReason.length > 0 && reportReason.length < 450, 'text-orange': reportReason.length >= 450 && reportReason.length < 500, 'text-red': reportReason.length >= 500 || reportReason.length == 0}"
                      ng-bind="reportReason.length"></span> / 500
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="reportAction">Action</label>
        <select id="reportAction" class="form-control" ng-model="actionSelected" ng-options="index as action.name for (index, action) in actions"></select>
    </div>

    <div ng-show="actions[actionSelected].id == 7" class="form-group">
        <label for="tbanDuration">Duration (Minutes)</label>
        <input type="number" id="tbanDuration" class="form-control" ng-model="extra.tban.duration">
        <div class="help-block">
            <span class="text-blue" ng-bind="momentDuration(extra.tban.duration, 'minutes')"></span>
            <span class="text-purple pull-right" ng-bind="moment().add(extra.tban.duration, 'm').format('LLL')"></span>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">
        <i class="fa fa-spinner fa-pulse" ng-show="working"></i> OK
    </button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
